.*
!/.gitignore
*.sql
/vendor
composer.lock
!/app/data/mysql/schema-sql/*/schema-dump.sql
!/app/data/mysql/schema-sql/*/schema-updates.sql
/app/config/shrturl/*.php
/app/config/shrturl/**/*.php
!/app/config/shrturl/*-sample.php
!/app/config/shrturl/**/*-sample.php
!/app/config/shrturl/service.php