.*
!/.gitignore
/vendor
composer.lock
*.sql
!/app/data/mysql/schema-sql/*/schema-dump.sql
!/app/data/mysql/schema-sql/*/schema-updates.sql
/app/config/shrturl/**/*
!/app/config/shrturl/*-sample.php
!/app/config/shrturl/*-sample.ini
!/app/config/shrturl/**/*-sample.php
!/app/config/shrturl/**/*-sample.ini
!/app/config/shrturl/service.php
!/app/config/shrturl/mysql.php